/* 父子选择器 */
/* 1. 父子选择器不仅仅是标签选择器,重点在于父子关系 */
/* 3. 浏览器遍历父子选择器的顺序:从右向左遍历,因为这样是最快的 */
/* 2. 父子选择器不仅仅是直接的父子关系,指的是父标签中包裹的所有标签,也作用于间接的标签 */
/*  */
div span {
    background-color: red;
}

/* 直接子元素选择器 */
/* 代表的是父级标签下的直接子标签 */
div > em{
    background-color: black;
}

/* .demo {   
    background-color: red;
} */

/* 并列选择器 */
/*用多个并列条件选中一个元素,并且不加空格,同时添加任意条件进行筛选 */
/* 并列选择器的顺序:标签选择器>class选择器>类选择器>id选择器 */
div.demo{
    background-color: red;
}

/* 复杂选择器知识点: */
/*  1. 权重(选择元素的权重) 
    2. 同一行选择器的权重值相加,值越大,选择的优先级越高
    3. 权重值相同的样式区,后面的样式会覆盖前面的样式,为最终有效样式*/
div p
{
    background-color: red;
}

div.classDiv p#idP
{
    background-color: green;
    /* !important */
}

div#idDiv p.classP
{
    background-color: black;
}
/* 当前后两个选择器的权重值一样时,后面的选择器会覆盖前面的选择器 */
/* 数学中的无穷大是无法比较大小的,但是编程语言中的无穷大小是可以比较大小的 */

/* 分组选择器 */
/*  单独的选择器之间用逗号隔开,一般情况下,为了读写方便,需要进行换行
    其主要作用是减少代码的冗余度 */
strong,
em,
span
{
    background-color: black;

    /* 设置字体的大小是设置字体的高 */
    font-size: 12px;
    /* 设置字体的粗细
    lighter,normal,bold,bolder */
    /* 数字设置字体的粗细:100,200,300,400----900,没有单位 */
    font-weight: bold;

}

