/* 父子选择器 */
/* 1. 父子选择器不仅仅是标签选择器,重点在于父子关系 */
/* 3. 浏览器遍历父子选择器的顺序:从右向左遍历,因为这样是最快的 */
/* 2. 父子选择器不仅仅是直接的父子关系,指的是父标签中包裹的所有标签,也作用于间接的标签 */
/*  */
div span {
    background-color: red;
}

/* 直接子元素选择器 */
/* 代表的是父级标签下的直接子标签 */
div > em{
    background-color: black;
}

/* .demo {   
    background-color: red;
} */

/* 并列选择器 */
/*用多个并列条件选中一个元素,并且不加空格,同时添加任意条件进行筛选 */
div.demo{
    background-color: red;
}