/* .demo
{
    position: absolute;
    left: 100px;
    top: 0px;
    width: 100px;
    height: 100px;
    background-color: red;
    opacity: 0.5;
}

.demo1
{
    position: absolute;
    left: 100px;
    top: 10px;
    width: 200px;
    height: 200px;
    background-color: green;
} */

body{
    /*  margin:0px;
        body自带的margin:8px;
    */
    margin: 0px;
    padding:0px;
}

.wrapper
{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: orange;
}

.content
{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 50px;
    height: 50px;
    background-color: black;
}

.box
{
    width: 10px;
    height: 10px;
    background-color: yellow;
}
span{
    /* position: absolute; */
    /* float: left; */
    width: 100px;
    height: 100px;
    background-color: red;
}